SECRET_KEY=Django秘密鑰匙
ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com # 到時候替換成真實的網址
ZBPACK_START_COMMAND=daphne -b 0.0.0.0 -p 8080 config.asgi:application # 設定 Zeabur 啟動的方式

# 資料庫連線網址（由 Zeabur 注入）
# POSTGRES_CONNECTION_STRING=postgresql://user:password@host:port/database

